<link rel="stylesheet" href="/css/players.css">
<div class="Boxtitle"></div>
<div class="lineleft"></div>
<div class="lineright"></div>
<div class="Titulo">Lista de Jugadores</div>
<br>
</br>
<br>
</br>
<br>
</br>
<div class="card-body">
    <table class="tabla1">
        <thead>
            <tr align="center" class="tableHead">
                <th>Foto</th>
                <th>Nombre Jugador</th>
                <th>Edad</th>
                <th>Fecha de Nacimiento</th>
                <th>Número de Camiseta</th>
                <th>Equipo</th>
                <th>Posición de Juego</th>
                <th>Agregar Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each players}}
            <tr class="card-cont">
                <td align="center">
                    {{#if photo}}
                    <img class="card__image" src="/{{photo}}" loading="lazy" alt="User Profile">
                    {{else}}
                    <img src="/not-found/not-found-image.png" class="card__image" alt="..." alt="User Profile">
                    {{/if}}
                </td>
                <td align="center">{{playername}}</td>
                <td align="center">{{age}}</td>
                <td align="center">{{birthdate}}</td>
                <td align="center">{{tshirtnumber}}</td>
                <td align="center">{{name_team}}</td>
                <td align="center">{{position}}</td>
                <td align="center">
                    <form action="/players/photo-player/{{idplayers}}" method="POST" encType="multipart/form-data">
                        <input type="file" class="EditarSubir" name="sampleFile" accept="image/*" />
                        <input type="submit">
                    </form>
                </td>
                <td align="center">
                <a href="/players/delete-players/{{idplayers}}" class="danger">Eliminar</a>
                <a href="/players/edit-players/{{idplayers}}" class="secondary">Editar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <td align="center">
     <a href="/players/add" class="nuevo_1"> 
     <div class="nuevo">Nuevo</div></a>
     </td>
    </br>

</div>

