<link rel="stylesheet" href="/css/playerstatistics.css">
<form action="/playerstatistics/edit-playerstatistics/{{playerstatistic.idstats}}" method="POST">
    <div id="container-edit">
    <h2>Editar resultados</h2>

    <div class="form-group">
        <label id="posicion">Nombre:</label>
        <input type="text" value="{{playerstatistic.name}}" name="name" class="form-control"
                    placeholder="Nombre" />
    </div>
    <div class="form-group">
        <label id="fisico">Físico:</label>
        <input type="number" value="{{playerstatistic.physical}}" name="physical" class="form-control"
                    placeholder="Físico" />
    
    <div class="form-group">
        <label id="duelo">Duelos:</label>
        <input type="number" value="{{playerstatistic.duels}}" name="duels" class="form-control"
                    placeholder="Duelos" />
    </div>
    <div class="form-group">
        <label id="tiro">Tiro:</label>
        <input type="number" value="{{playerstatistic.shot}}" name="shot" class="form-control"
                    placeholder="Tiro" />
    </div>
    <div class="form-group">
        <label id="defensa">Defensa:</label>
        <input type="number" value="{{playerstatistic.defense}}" name="defense" class="form-control"
                    placeholder="Defensa" />
    </div>
    <div class="form-group">
        <label id="Pase">Pase:</label>
        <input type="number" value="{{playerstatistic.pass}}" name="pass" class="form-control"
                    placeholder="Pase" />
    </div>
    <div class="form-group">
        <label id="habilidad">Habilidad:</label>
        <input type="number" value="{{playerstatistic.ability}}" name="ability" class="form-control"
                    placeholder="Habilidad" />
    </div>

    
    <div id="inputBox">
        <input type="submit" value="Guardar" id="button2" />
    </div>
    <div >
            <input type="submit" value="Cancelar" id="cancelButton"/>
    </div>
</div>
</form>