<link rel="stylesheet" href="/css/playerstatistics.css">
    <div class="card text-center border border-primary">
        <h3 id="card-title text-uppercase" >
            Lista de estadisticas jugadores
        </h3>
    </div>
<div id="button-add">Añadir estadistica del jugador: <button><a href="/playerstatistics/add" id="boton-añadir" style="text-decoration: none; color: inherit;">Añadir
    </a></button>
</div>

<table id="table-playerstatistics">
    <thead id="#header-playerstatistics">

        <tr>
            <th></th>
            <th>Ataque</th>
            <th>Velocidad</th>
            <th>Potencia de tiro</th>
            <th>Resistencia</th>
            <th>Control del Balón</th>
            <th>Agresión</th>
            <th>Pase corto</th>
            <th>Pase largo</th>
            <th>Dribbling</th>
            <th>Agilidad</th>
            <th>Equilibrio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

{{#each playerstatistics}}
    <tr>
    <td>
    {{#if photo}}
    <img class="card__image" src="/{{photo}}" loading="lazy" alt="User Profile">
    {{else}}
    <img src="/not-found/not-found-image.png" class="card__image" alt="..." alt="User Profile">
    {{/if}}
    </td>

    <td><p>   {{attacK}}</p></td>
    <td><p> {{speed}}</p></td>
    <td><p>  {{shootingpower}}</p></td>
    <td><p>  {{endurance}}</p></td>
    <td><p>  {{ballControl}}</p></td>
    <td><p>  {{assault}}</p></td>
    <td><p>  {{shortpass}}</p></td>
    <td><p>  {{passover}}</p></td>
    <td><p>  {{dribbling}}</p></td>
    <td><p>  {{agility}}</p></td>
    <td><p>  {{balance}}</p></td>
    
    <td>
    <center>
        <a href="/playerstatistics/delete-playerstatistics/{{id}}" id="danger">Eliminar</a>
        <a href="/playerstatistics/edit-playerstatistics/{{id}}" id="secondary">Editar</a> 
        <form action="/playerstatistics/photo-playerstatistic/{{id}}" method="POST" encType="multipart/form-data">
            <input type="file" id="input" name="sampleFile" accept="image/*" />
            <input type="submit" id="button-edit">
        </form>
    </center>
    </td>

</tr>

{{else}}
<center> <p>No hay registro guardados a un </p>
    <a href="/playerstadistics/add"> Agrega uno haciendo click aqui</a>
</center>
{{/each}}

