<link rel="stylesheet" href="/css/teams.css">
{{#each coachs}}
<div class="card-body" id="lcb ">
    <center>
        <p>{{name_president}}</p>
        <div class="noticia-img">

            {{#if photo}}
            <img class="card__image" src="/{{photo}}" loading="lazy" alt="User Profile">
            {{else}}
            <img src="/not-found/not-found-image.png" class="card__image" alt="..." alt="User Profile">
            {{/if}}

        </div>

        <th>
            <p>{{name_coach}}</p>
            <p>{{coach_mail}}</p>
            <p>{{phone}}</p>
            <p>{{coaching_team}}</p>


            <center>
                <a href="/coachs/delete-coachs/{{id}}" style="text-decoration: none; color: inherit;"
                    class="danger">Eliminar</a>
                <a href="/coachs/edit-coachs/{{id}}" style="text-decoration: none; color: inherit;"
                    class="secondary">Editar</a>
                <form action="/coachs/photo-coach/{{id}}" method="POST" encType="multipart/form-data">
                    <input type="file" name="sampleFile" accept="image/*" />
                    <input type="submit">
                </form>
            </center>
</div>
</th>
</form>
{{else}}
<center>
    <p>No hay registro guardados a un </p>
    <a href="/coachs/add"> Agrega uno haciendo click aqui</a>
</center>
{{/each}}