<link rel="stylesheet" href="/css/comunication.css">

<form action="/comunications/edit-comunications/{{comunication.idcomunica}}" method="POST">  

        <h2>Editar Noticia</h2>
        <label id="titulo">Título de la Noticia</label>
        <input type="text" value="{{comunication.title}}" name="title" class="form-control" placeholder="Editar Titulo "/ >

        <label id="descripcion">Descripción de la Noticia</label>
        <textarea type="text" value="{{comunication.newsdescription}}" name="newsdescription" class="form-control" placeholder="Editar Descipcion "></textarea>

        <label id="autor">Autor de la Noticia</label>
        <input type="text" value="{{comunication.newsauthor}}" name="newsauthor" class="form-control" placeholder="Editar Autor" />

        <label id="fecha">Fecha de Publicación</label>
        <input type="date" value="{{comunication.publicationdate}}"  name="publicationdate" class="form-control" placeholder="Editar Fecha" />

        <div id="guardarBotton">
            <input type="submit" value="Guardar" />
        </div>

        <div id="cancelButton">
            <input type="submit" value="Canclear" />
        </div>
        
</form>