<link rel="stylesheet" href="/css/game.css">

<form action="/games/edit-games/{{game.id}}" method="POST">
    <h2>Añadir Juego</h2>
    <label for="titulo">Rival local</label>
    <input type="text" value="{{game.team1}}" name="team1" class="form-control" placeholder="Rival local" />

    <label for="titulo">Rival Visitante</label>
    <input type="text" value="{{game.team2}}" name="team2" class="form-control" placeholder="Rival local" />

    <label for="autor">Fecha de partido</label>
    <input type="text" value="{{game.date}}" name="date" class="form-control" placeholder="Fecha de partido" />

    <label for="autor">Hora de partido</label>
    <input type="text" value="{{game.time}}" name="time" class="form-control" placeholder="Hora" />

    <label for="autor">Albirto</label>
    <input type="text" value="{{game.referee}}" name="referee" class="form-control" placeholder="Referi" />

    <div id="guardarBotton">
        <input type="submit" value="Guardar" />
    </div>

    <div id="cancelButton">
        <input type="submit" value="Canclear" />
    </div>

</form>