<link rel="stylesheet" href="/css/list-game.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<div class="col-md-12">
    <div class="card text-center border border-primary">
        <div style="display: flex; justify-content: center; padding: 10px;">
            <h3 class="card-title text-uppercase" style="margin: 0;">
                FECHA DE JUEGO
            </h3>
        </div>
    </div>
</div>
{{#each games}}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
    <!-- code here -->
    <div class="match">
        <div class="match-header">

            <div class="match-tournament"><img src="/images/Laliga.png">Liga SUCARITAS</div>

        </div>
        <div class="match-content">
            <div class="column">
                <div class="team team--home">
                    <div class="team-logo">

                        <img src="/images/fc.png" />
                    </div>
                    <h2 class="team-name">{{team1}}</h2>
                </div>
            </div>
            <div class="column">
                <div class="match-details">
                    <div class="match-date">
                        {{date}} <strong>Hora de juego {{time}}</strong>
                    </div>
                    <div class="match-score">
                        <span class="match-score-number match-score-number--leading">0</span>
                        <span class="match-score-divider">:</span>
                        <span class="match-score-number">0</span>
                    </div>
                    <div class="match-time-lapsed">
                        0:00
                    </div>
                    <div class="match-referee">
                        Referi: <strong>{{referee}}</strong>
                    </div>
                    <div class="match-bet-options">
                        <a href="/games/delete-games/{{id}}"><button class="match-bet-option"><i
                                    class="fas fa-trash-alt"></i></button></a>
                        <button class="match-bet-option">7.84</button>
                        <a href="/games/edit-games/{{id}}"> <button class="match-bet-option"><i
                                    class="fas fa-pencil-alt"></i></button></a>
                    </div>
                    <a href="/games/add">
                        <button class="match-bet-place">Agrega</button></a>
                </div>
            </div>
            <div class="column">
                <div class="team team--away">
                    <div class="team-logo">
                        <img src="/images/real.jpg" />
                    </div>
                    <h2 class="team-name">{{team2}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}
<center>
    <a href="/games/add">
        <button class="match-bet-place">Agrega</button></a>
</center>
{{/each}}